@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bigText{
  font-size: 25px;
}

.squareImage{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.center{
  margin: auto;
  display: block; 
}

.centerText{
  text-align: center;
  display: block; 
}

.margin{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.textInput{
  padding: 10px;
  color: black;
  display: block;
}

.buttonInput{
  margin: auto;
  padding: 10px;
  display: block;
  background-color: green;
}
